/*---------- базові налаштування ----------*/
body {
	color: #606060;
	font-size: 1em;
	text-align: left;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
}
li {
	list-style-type: none;
}
a {
	color: #393;
	text-decoration: underline;
}
a:hover {
	color: #393;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
img {
	max-width: 100%;
}
.clr { /*Клас для відміни обтікання*/
	clear: both;
}
.clearfix:after { /*Клас для вирішення проблеми "схлопування" меж*/
	clear: both;
	content: "";
	display: table;
}
/*---------- /базові налаштування ----------*/

/*---------- шапка сайту ----------*/
header {
	overflow: hidden; /*Для того, щоб межі не схлопувались*/
	background: #FFFFFF;
}
.center-block-main {
	margin: 0 auto; /*Центрування блоку*/
	max-width: 1000px; /*Гумова ширина*/
}
/*.logo {
	float: left; Розташування зліва
	margin-top: 45px;
}*/

.logo {
  float: left; 
  padding: 21px 15px 19px;
  border: 2px solid #666666; 
  display: block;
}



.menu {
	margin: 20px;
	height: 64px;
	position: relative;
}
.menu li {
	float: left; /*Щоб меню розташувалось в один рядок*/
	font-weight: 1250; /*Жирність шрифта у значенні*/
}
.menu li a {
	color: #000000;
	display: block; /*Для відпрацювання вертикальних значень padding*/
	padding: 15px 15px;
	text-decoration: none;

}

.menu li a:hover {
	padding: 15px 15px;
	display: block; /*Для відпрацювання вертикальних значень padding*/
	background: #f94877;
	color: #FFFFFF;
	border: 2px solid;
    border-radius: 15px;

}


/*---------- /шапка сайту ----------*/


/*---------- основний контент сайту ----------*/
.content {
	border-left: 1px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
}


.bg {
  left: 50%;
  min-height: 860px;
  position: absolute;
  top: 0;
  width: 1440px;
  margin-left: -720px;
}

.slider-contents {
  float: left;
  position: relative;
  width: 789px;
}

.text-79 {
  display: block;
}

/*---------- лівий блок контенту сайту ----------*/
main {
	float: left;
	width: 100%;
	
}
article {
	margin-bottom: 70px;
}

.imagesJ {
    opacity: 0.5; 
    background-image: url('../images/loiyajan_kaje_lagbar_pare.png'), url('../images/bg-container.jpg');
	background-position: right center, left center;
	background-repeat: no-repeat, repeat;
	padding: 430px;

}

.image-container-holder {
  height: 48px;
  margin: 0 auto;
  padding: 149px 20px;
  position: relative;
  right: 135px;
  width: 604px;
  background: url(../images/image-container.jpg) no-repeat;
}

.slide-shadaw {
   height: 48px;
  margin: 0 auto;
  padding: 149px 20px;
  position: relative;
  right: 150px;
  width: 604px;
  background: url(../images/type_9_copy.png) no-repeat;
}
.type-11-copy {
  display: block;
}



.section-bg {
  left: 50%;
  position: absolute;
  top: 1664px;
  width: 1440px;
  background: url(../images/cover.png) no-repeat;
  margin-left: -720px;
}
.col-5 {
  min-height: 597px;
  padding: 109px 171px 91px;
  position: relative;
  background: rgba(0, 0, 0, 0.55);
}
.section-title-6 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-63 {
  color: #ffffff;
  font-size: 2.625em; /* 42px / 16px = 2.625em */
  font-weight: 600;
  text-align: center;
}
.title-bottom-border-8 {
  height: 2px;
  margin: 14px auto 0;
  width: 170px;
  background: #f7f7f7;
}
.text-64 {
  margin: 13px auto 0;
  width: 570px;
  color: #ffffff;
  font-size: 1em; /* 16px / 16px = 1em */
  line-height: 1.625em; /* 26px / 16px = 1.625em */
  text-align: center;
}





/*---------- /лівий блок контенту сайту ----------*/

/*---------- /основний контент сайту ----------*/

/*---------- підвал сайту ----------*/
footer {
	padding: 50px 0;
	text-align: center;
	background: #f8f8f8;
	font-size: 0.8125em;
	border-top: 1px solid #e1e0e0;
}
footer img {
	margin-bottom: 20px;
}
/*---------- /підвал сайту ----------*/

/*---------- адаптація (респонсів) під мобільні пристрої ----------*/
@media screen and (max-width: 768px) {
	.logo {
		margin-top: 20px;
	}
	.menu li a {
		padding: 25px 35px;
	}
	main {
		float: none; /*Відміна обтікання*/
		width: 100%; /*Розширення на всю ширину*/
		margin-top: 30px;
	}
	article > header img {
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
		margin-top: 70px;
	}
}
@media screen and (max-width: 620px) {
	.logo {
		float: none;
		display: block;
		margin: 10px auto;
	}
	.menu {
		float: none;
		width: 100%;
	}
	.menu li a {
		padding: 10px 35px;
	}
}
/*---------- /адаптація (респонсів) під мобільні пристрої ----------*/